.header{
    display: flex;
    justify-content: space-around;
}

table{
    margin: auto;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    padding: 5px;
}
h2{
    margin: auto;
}